{% load static %}

<html>

<head>
    <title>{% block title %}User Registration{% endblock %}</title>
    <!-- Set icon to title -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap JS/CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-glyphicons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</head>

<body>

<div class="container" style="width:740px; padding:20px;">
    <div class="card text">
        <center>
            <div class="card-header"><img id="profile-img" class="profile-img-card"
                                          src="{% static 'images/logo2.png' %}" width="4%" height="5%"/>
                <h3><strong>LEAVE MANAGEMENT PORTAL</strong></h3></div>
        </center>
        <div class="card-body">
            <h5 align="left">New User Registration Form</h5>
            <hr color="Blue">

            <!-- validate email -->
            <form method="post" action="" class="form-signin">
                {% csrf_token %}
                <div class="form-row">
                    <div class="input-group col-md-12 mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                        </div>
                        {{ form.email }}
                        <!--<input type="email" name="email" id="email" class="form-control" placeholder="Enter work email"-->
                               <!--aria-label="email" aria-describedby="basic-addon2" required onfocus="true">-->
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Validate</button>
                        </div>
                    </div>
                    <!-- invalid credentials -->
                    {% if error_msg %}
                    <div id="error_msg"><p style="color:red">{{ error_msg }}</p></div>
                    {% else %}
                    {% endif %}
                    <!-- invalid credentials -->
                </div>
            </form>

            {% if success_msg %}
            <!-- validate email -->
                <div class="form-row">
                    <div class="input-group col-md-6 mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                        </div>
                        <label class="form-control">{{ name }}</label>
                        <!--<input type="text" name="name" value="{{ name }}" class="form-control" id="name" style="background-color:White;"-->
                               <!--placeholder="" required readonly>-->
                    </div>
                    <div class="input-group col-md-6 mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Company</div>
                        </div>
                        <label class="form-control">{{ company }}</label>
                        <!--<input type="text" name="company" value="{{ company }}" class="form-control" id="company"-->
                               <!--style="background-color:White;" placeholder="" required readonly>-->
                    </div>
                </div>
            {% endif %}
            {% block register_form_content %}
            {% endblock %}

        </div>

        <div class="card-footer text-muted">
            <table width="100%">
                <tr>
                    <td align="left" width="20%">
                        <a href="{% url 'login' %}" class="">Already Register</a>
                    </td>
                    <td align="right" width="30%">
                        <a href="#" class="forgot-password">Forgot the password?</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
$(function() {
    var content = $('#email').val();
    $('#email').keyup(function() {
        if ($('#email').val() != content) {
            content = $('#email').val();
            $('#error_msg').hide();
            //alert('Content has been changed');
        }
    });
});
</script>
</body>
</html>
