{% extends 'base.html' %}
{% load static %}
{% block title %} Leave Request {% endblock %}
{% block heading %} APPLY FOR LEAVE {% endblock %}

{% block content %}

<form method="post" action="{% url 'applyleave' %}" autocomplete="off" style="max-width: 70%;" id="myForm">
    {% csrf_token %}
    <div class="card">
        <div class="card-header" style="background-color:transparent">LEAVE APPLICATION</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <span class="input-text">Leave Type</span>
                    {{ form.leave_type }}
                    <span style="color:red">{{ form.leave_type.errors|striptags }}</span>
                </div>
                <div class="col-md-3 mb-2">
                    <span class="input-text">From</span>
                    {{ form.leave_start }}
                    <span style="color:red">{{ form.leave_start.errors|striptags }}</span>
                </div>
                <div class="col-md-3 mb-3">
                    <span class="input-text">To</span>
                    {{ form.leave_end }}
                    <span style="color:red">{{ form.leave_end.errors|striptags }}</span>
                </div>
                <div class="col-md-3 mb-3">
                    <span class="input-text">Leave For</span>
                    {{ form.leave_for }}
                    <span style="color:red">{{ form.leave_for.errors|striptags }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3" hidden>
                    <span class="input-text">Days</span>
                    {{ form.days }}
                    <span style="color:red">{{ form.days.errors|striptags }}</span>
                </div>
                <div class="col-md-4 mb-3">
                    <span class="input-text">Leave Reason</span>
                    {{ form.reason }}
                    <span style="color:red">{{ form.reason.errors|striptags }}</span>
                </div>
                <div class="col-md-8 mb-3">
                    <span class="input-text">Comments</span>
                    {{ form.comments }}
                    <span style="color:red">{{ form.comments.errors|striptags }}</span>
                </div>
            </div>
            <!--<a href="{% url 'applyleave' %}" role="button" class="btn  btn-primary">Next</a>-->
            <center>
            <button type="submit" class="btn btn-primary" id="btn_leave_app_next" data-toggle="modal"
                    data-target="#applyleave_step2" data-whatever="@mdo">Next
            </button>
            </center>

            {% if save_message %}
            <h5><span class="badge" style="color:Green">{{ save_message }}</span></h5>
            {% else %}
            <h5><span class="badge" style="color:Red">{{ error_message }}</span></h5>
            {% endif %}
        </div>
    </div>
</form>

{% if error_message %}
{% else %}
<form action="{% url 'leave_app_review' %}" method="post" style="max-width: 100%;" id="leave_app_review_form">
    {% csrf_token %}
    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">APPLY FOR LEAVE - Check for Full Day / Half Day</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="card">
                        <!--<div class="card-header" style="background-color:transparent">LEAVE APPLICATION DATE WISE BREAKUP</div>-->
                        <div class="card-body">


                            <!--<hr style="border-color:Blue">-->
                            <div class="row" hidden>
                                {{ form }}
                            </div>
                            <!--<div class="alert alert-primary">-->
                            <div class="form-row">
                                <div class="input-group col-md-12 md-2">
                                    <div class="col-md-3 mb-1">
                                        <strong>LEAVE DATE</strong>
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <strong>DAY</strong>
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <strong>REMARKS</strong>
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <strong>LEAVE FOR</strong>
                                    </div>
                                </div>

                            </div>
                            <!--</div>-->
                            <!-- Below loop for populate date wise leaves  -->
                            <!--<div class="alert alert-primary">-->

                            <div class="form-row">
                                {% for key,value in obj_leave_date_list.items %}
                                <div class="input-group col-md-12 mb-2">
                                    <div class="col-md-3 mb-2">
                                        <input type="text" class="form-control"
                                               name="leave_start_{{ key|date:'Y-m-d' }}"
                                               value="{{ key|date:'Y-m-d' }}" readonly>
                                        <!-- obj_leave_app.leave_start|date:'d-M-Y' -->
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-control" id="day" name="day_{{ key|date:'Y-m-d' }}"
                                               value="{{ key|date:'l' }}"
                                               readonly>
                                    </div>

                                    <div class="col-md-3 mb-2">
                                        <input class="form-control" id="remarks" name="remarks_{{ key|date:'Y-m-d' }}"
                                               value="{{ value.remarks }}" readonly>
                                    </div>

                                    <div class="col-md-3 mb-2">
                                        {% if value.remarks == 'Holiday' or value.remarks == 'Weekend' %}
                                        <input type="text" class="form-control" name="leave_for_{{ key|date:'Y-m-d' }}"
                                               value="Full Day" readonly/>
                                        {% else %}
                                        <select class="form-control" name="leave_for_{{ key|date:'Y-m-d' }}">
                                            {% if value.leave_for == 'Full Day' %}
                                            <option value="{{ value.leave_for }}" selected>{{ value.leave_for }}
                                            </option>
                                            <option value="First Half">First Half</option>
                                            <option value="Second Half">Second Half</option>
                                            {% elif value.leave_for == 'First Half' %}
                                            <option value="{{ value.leave_for }}" selected>{{ value.leave_for }}
                                            </option>
                                            <option value="Full Day">Full Day</option>
                                            <option value="Second Half">Second Half</option>
                                            {% elif value.leave_for == 'Second Half' %}
                                            <option value="{{ value.leave_for }}" selected>{{ value.leave_for }}
                                            </option>
                                            <option value="Full Day">Full Day</option>
                                            <option value="First Half">First Half</option>
                                            {% else %}
                                            <option value="Full Day" selected>Full Day</option>
                                            <option value="First Half">First Half</option>
                                            <option value="Second Half">Second Half</option>
                                            {% endif %}
                                        </select>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <!--<button class="btn btn-primary" type="submit">Next</button>-->
                            <!--<a href="/applyleave/?from={{ request.path|urlencode }}" role="button" class="btn  btn-primary">Back</a>-->
                            <!--</div>-->
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}


{% if request.method == 'POST' %}
<script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });

</script>
{% else %}
{% endif %}

<script>
    $(function () {
  $("#datepicker").datepicker({"dateFormat": "yy-mm-dd",
        autoclose: true,
        todayHighlight: true
  }).datepicker('update', new Date());
});

</script>


<script>
     $("#date_start").datepicker({"dateFormat": "yy-mm-dd", beforeShowDay: NotBeforeToday,todayHighlight: true, autoclose: true, todayBtn: true,
        onClose: function () {
            $("#date_end").datepicker(
                "change", {
                minDate: new Date($('#date_start').val())

            });
            myfunc()
            // $("#date_start").datepicker({dateFormat: "yy-mm-dd"});
        }
    });
    $("#date_end").datepicker({"dateFormat": "yy-mm-dd", todayHighlight: true, autoclose: true, todayBtn: true,
        onClose: function () {
            $("#date_start").datepicker(
                "change", {
                // maxDate: new Date($('#date_end').val())
            });
            $("#leave_for").val("Full Day")
            myfunc()
        }
    });

function myfunc(){
    var start= $("#date_start").datepicker("getDate");
    var end= $("#date_end").datepicker("getDate");
    days = (end- start) / (1000 * 60 * 60 * 24);
    // alert(Math.round(days));
    $("#days").val(Math.round(days)+1);
}

function NotBeforeToday(date)
{
    var now = new Date();//this gets the current date and time
    if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() >= now.getDate())
        return [true];
    if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
       return [true];
     if (date.getFullYear() > now.getFullYear())
       return [true];
    return [false];
}


// $("#leave_for").change(function(){
// if ($("#leave_for").val()=="Full Day"){
// $("#days").val(1);
// }
// else{
// $("#days").val(0.5);
//myfunc();
// }
// });



</script>


<!--<script>-->
<!--$(function(){-->
<!--$("#btn_leave_app_next").click(function(e) {-->
<!--$("#leave_app_form").hide();-->
<!--//$("#btn").hide();-->
<!--});-->
<!--});-->
<!--</script>-->


{% endblock %}
